{{!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each coordinator}}
      <tr>
        <td>{{username}}</td>
        <td>{{email}}</td>

      </tr>
      {{/each}}
    </tbody>
  </table>


</body>

</html> --}}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/faculity.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
    $(document).ready(function () {
      $('.checkbtn').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>

  <title>Document</title>
</head>

<body>
  <div class="layout">
    <div class="header">
      <form method="post" action="./faculity/search">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fa fa-bars"></i>
        </label>
        <a href="/logout"><span class="logout">&times;</span></a>
      </form>


    </div>
    <div class="layout1">
      <div class="menu">
        <ul>
          <li><a href="/account/indexAdmin">Home</a></li>
          <li><a href="/faculity/allfaculity">Faculity</a></li>
          <li><a href="/faculity/create"> Create Faculity </a></li>
          <li><a href="/student/addStudent">Create student</a></li>
          <li><a href="/coordinator/addCoordinator">Create Coordinator</a></li>
        </ul>

      </div>
      <div class="content">
        <h1>Marketing Coordinator profile</h1>
        <table class="table">
          <thead>
            {{#each coordinator}}
            <tr>
              <th>Username</th>
              <td>{{username}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{email}}</td>
            </tr>
            <tr>
              <th>Faculity</th>
              <td>{{slug}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{phone}}</td>
            </tr>
            <tr>
              <th>Birthday</th>
              <td>{{birthday}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{address}}</td>
            </tr>
            <tr>
              <td rowspan="2">Acction</td>
              <td><a href="/coordinator/delete{{_id}}">Delete</a></td>
            </tr>
            <tr>
              <td><a href="/coordinator/update{{_id}}">Update</a></td>
            </tr>
            {{/each}}
          </thead>
        </table>
      </div>
    </div>
  </div>



      <div class="footer">
        <p>@University-2021</p>
      </div>

</body>

</html>