<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/homestudent.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script>
    $(document).ready(function () {
      $('.checkbtn').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>

  <title>Document</title>
</head>

<body>
  <div class="layout">
    <div class="header">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      <a href="/logout"><span class="logout">&times;</span></a>

    </div>
    <div class="layout1">
      <div class="menu">
        <ul>
          <li><a href="indexStudent">Home</a></li>
          <li id="popupdk">Upload file</li>
          <li><a href="/file/fileSubmited">File Submitted</a></li>
          <li><a href="/message/teacher/{{account.slug}}">Chat box</a></li>
        </ul>
      </div>
      <div class="content">

        <h1>Personal information</h1>

        <table class="table">
          <tr>
            <th>Username</th>
            <td>{{account.username}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{account.email}}</td>
          </tr>
          <tr>
            <th>Faculty</th>
            <td>{{account.slug}}</td>
          </tr>
          <tr>
            <th>Phone</th>
            {{!-- <td>0916134144</td> --}}
            <td>{{account.phone}}</td>
          </tr>
          <tr>
            <th>Birthday</th>
            {{!-- <td>1/1/2000</td> --}}
            <td>{{account.birthday}}</td>
          </tr>
          <tr>
            <th>Address</th>
            {{!-- <td>11 tran khanh toan</td> --}}
            <td>{{account.address}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>@University-2021</p>
    <p id = "del1" style="display: none">{{deadline}}</p>
  </div>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <iframe src="../uploads/dieukhoan.txt" class="dk"></iframe>
      <br>
      <p>Do you agree with the above terms?</p>
      <input type="radio" id="male" name="gender" value="Yes"> <label for="male">Yes</label>
      <input type="radio" id="female" name="gender" value="No"> <label for="female">No</label><br><br>
      <input type="submit" id="btn1" value="Next">
      <script language="javascript">
    document.getElementById("btn1").onclick = function ()
    {
      let ts = Date.now();
      let date_ob = new Date(ts);
      let date = date_ob.getDate().toString().padStart(2, "0");;
      let month = (date_ob.getMonth() + 1).toString().padStart(2, "0");
      let hour = date_ob.getHours().toString().padStart(2, "0");;
      let minutes = date_ob.getMinutes().toString().padStart(2, "0");;
      let year = date_ob.getFullYear();
      dl = year + "-" + month + "-" + date + " " + hour + ":" + minutes;
      var checkbox = document.getElementsByName("gender"); 
        for (var i = 0; i < checkbox.length; i++){
          if (checkbox[i].checked === true){
            if(checkbox[i].value ==='No'){
              alert("You must agree to continue")
            }else{
              var dealine = document.getElementById("del1").innerHTML ;
              if(dl < dealine){
                location.href = "/file"
                }else{
                  alert("Out of date to upload file")
                }
            }
          }
        }
      
  };
</script>
    </div>

  </div>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("popupdk");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>